body{
    margin: 10px;
    padding: 0;
} /*селектор по body, внутри которого создаются отступы от содержимого до края блока и от одного блока до другого*/
div{
    height: 200px; /*высота блока*/
    width: 200px; /*ширина блока*/
    background-color: #f44336;
    margin: 10px 10px 10px 10px; /*отступы блоков друг от друга поочередно верх, право, низ, лево*/
    font-family: serif; /*семейство шрифтов*/
    font-size: 15px; /*размер шрифта*/
    color:black; /*цвет текста*/
} /*селектор по элементу div, определяет размер блоков, их цвет, отступы и форматирует текст внутри*/
div.second {
    background-color: darkslategray;
} /*селектор по классу, меняет цвет фона объектов класса second*/
div#d2 {
    background-color: burlywood;
    margin-left:auto;
    margin-right:auto;
} /*располагает объекты идентификатора d2 по центру и меняет цвет блока*/
div#d2 u {
    color: olivedrab;
}/*у потомка (второго поколения) класса "родственники" цвет текста будет оливковым, т.е. минуя дочерний элемент, свойство применилось ко внуку*/
div#d2>b {
    color: darkgreen;
} /*у дочернего элемента цвет текста будет темно-зеленым*/
div#d3+div#d4 {
    margin-left:auto;
} /*через сестринский селектор первый блок с идентификатором d4 после блока d3 выравнивается по правому краю*/
div#d1~div {
    padding-left: 20px;
} /*у всех div'ов после д1 будет левый отступ в 20 пикселей*/
div#d1:hover {
    background-color: darkseagreen;
} /*с помощью псевдокласса при наведении блок становится зеленым*/
div#d3::first-letter{
    font-size:20px;
    color: red;
} /*с помощью псевдоэлемента первая буква стала больше и поменяла цвет*/
div:empty{
    background: grey;
} /*пример псевдокласса empty: все пустые элемнты див будут серыми, независимо от идентификатора или класса, кроме д6 - там пробелы*/
